{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {attr: { target: 'broadcast' }}) }}
        {{ form_row(form.value) }}
        {{ form_row(form.eui) }}

        {% for eui, label in {
            "70B3D5B0200365A8": 'Lygtepæl 1',
            "70B3D5B0200365A5": 'Lygtepæl 2',
            "70B3D5B0200365A6": 'Lygtepæl 3',
            } %}
            <button type="button" class="btn btn-sm" data-form-eui="{{ eui }}">{{ label }}</button>
        {% endfor %}
    {{ form_end(form) }}


    <iframe id="broadcast" name="broadcast" src="about:blank"></iframe>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
