{% extends 'base.html.twig' %}

{% block body %}
    <section id="set-dimming-level">
        <h1>Set dimming level</h1>

        {{ form_start(form, {attr: { target: 'broadcast' }}) }}
            {% for text, data in {
                'Lygtepæl 1': {eui: '70B3D5B0200365A8'},
                'Lygtepæl 2': {eui: '70B3D5B0200365A5'},
                'Lygtepæl 3': {eui: '70B3D5B0200365A6'}
                } %}
                <button type="button" class="btn btn-sm" data-data="{{ data|json_encode }}">{{ text }}</button>
            {% endfor %}
        {{ form_end(form) }}

        <iframe name="broadcast" src="about:blank"></iframe>
    </section>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/dashboard.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/dashboard.js') }}"></script>
{% endblock %}
